

/* 
NAVIGATION
*/

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.img__logo {
    height: 100px;
    width: 100px;
    border-radius: 500px;
    margin-right: 20px;
    z-index: 1;
}

.logo__title {
    font-size: 24px;
    z-index: 1;
    color: white;
}

.background {
    width: 100%;
}

.background__img {
    width: 100%;
    height: 400px;
    position: absolute;
}

.nav__links {
    display: flex;
    z-index: 1;
    text-decoration: none;
}

.nav__link {
    text-decoration: none;
}

.search {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar__input {
    border-radius: 500px;
    padding: 14px;
    position: relative;
}

.search__button {
    position: absolute;
    border-radius: 500px;
    border: none;
    margin-left: 150px;
}