li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

.blue {
    color: blue;
}

/* 
NAVIGATION
*/

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.img__logo {
    height: 100px;
    width: 100px;
    border-radius: 500px;
    margin-right: 20px;
    z-index: 1;
}

.logo__title {
    font-size: 24px;
    z-index: 1;
    color: white;
}

.background {
    width: 100%;
}

.background__img {
    width: 100%;
    
    position: absolute;
}

.nav__links {
    display: flex;
    z-index: 1;
}

.nav__link {
    margin-left: 20px;
    color: white;
}


/*
LANDING
*/

.landing__para {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    z-index: 1;
}

.search {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.searchbar {
    border-radius: 500px;
    padding: 14px;
    position: relative;
}

.search__button:hover {
    cursor: pointer;
}

.search__button {
    position: absolute;
    border-radius: 500px;
    border: none;
    margin-left: 150px;
}

.photo__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popcorn__photo {
    height: 200px;
}

.soda__photo {
    height: 150px;
}